@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/roboto/Roboto.woff2"); 
    font-style: normal; 
    font-weight: normal; 
    font-display: swap;
} 
@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/roboto/Robotobold.woff2"); 
    font-style: normal; 
    font-weight: bold; 
    font-display: swap;
} 
body {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
    background: #F2F6F8;
}
h2 {
    color: #247CCD;
}
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sr-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}
/*Хедер*/
header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 130px;
}
.logo-block {
    width: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #247CCD;
}
.logo-block img {
    width: auto;
}
.head-block {
    width: calc(100% - 445px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
}
.head-block__image {
    margin-left: 25px;
    margin-right: 35px;
}
.head-block__list {
    width: 100%;
    max-width: 995px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-block__text {
    max-width: 230px;
    font-size: 14px;
    line-height: 16px;
    border-left: 2px solid #247CCD;
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    margin: 0 40px;
}
.head-block__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.head-block__contacts a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 5px;
}
.head-block__telephone::before {
    content: url(../img/icons/phone.svg);
    margin-right: 13px;
}
.head-block__email::before {
    content: url(../img/icons/email.svg);
    margin-right: 15px;
}
.head-block__twitter::before {
    content: url(../img/icons/twitter.svg);
    margin-right: 8px;
}
/*конец хедер*/

/*тело сайта*/
.site-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
/*Левая сторона*/
.left-side {
    background: #fff;
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.left-side__search {
    width: 284px;
    height: 42px;
    background: #F3F9FF;
    border: 1px solid #A5CDF1;
    box-sizing: border-box;
    border-radius: 21px;
    /*текст внутри*/
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #767E86;
    padding-left: 15px;
    margin: 30px 0px;
}
.left-side__navigation {
    width: 284px;
}
.left-side__navigation ul {
    width: 100%;
}
.left-side__navigation ul li {
    margin-bottom: 20px;
}
.left-side__navigation ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}
.deputat-left {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -46px;
    margin-top: 30px;
}
.deputat-left img {
    width: 186px;
}
.deputat-left__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 12px 0px;
}
.deputat-left__position {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}
.left-side__contacts {
    width: 284px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
}
.left-side__contacts a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 5px;
}

.left-side__telephone::before {
    content: url(../img/icons/phone.svg);
    margin-right: 13px;
}
.left-side__email::before {
    content: url(../img/icons/email.svg);
    margin-right: 15px;
}
.left-side__twitter::before {
    content: url(../img/icons/twitter.svg);
    margin-right: 8px;
}
/*конец левой стороны*/

/*main*/
main {
    width: calc(100% - 445px);
}
.main-slider {
    max-width: 1356px;
    margin-left: 0 !important;
    margin-bottom: 50px;
}
.main-slider__item {
    position: relative;
}
.main-slider__info {
    position: absolute;
    top:0;
    right:0;
    width: 40%;
    height: 100%; 
}
.main-slider__text {
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    color: #247CCD;
    margin-top: 80px;
    margin-bottom: 30px;
}
.main-slider__button {
    position: relative;
    width: 186px;
    height: 49px;
    background: #247CCD;
    border-radius: 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    transition: all 0.5s;
}
.main-slider__button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-slider__button:active {
    bottom: -5px;
}

/*Табы*/
.content-list {
    width: 100%;
    max-width: 1356px;
    margin-bottom: 80px;
}
.content-list__tab,
.my-deputat__tab {
    overflow: hidden;
}
.content-list__tab button,
.my-deputat__tab button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 30px;
    padding: 0px;
    transition: 0.3s;
}
.content-list__tab button:first-child,
.my-deputat__tab button:first-child {
    margin-left: 35px;
}
.content-list__tab button:hover,
.my-deputat__tab button:hover {
    color: blue;
}
.content-list__tab button.active,
.my-deputat__tab button.active {
    font-weight: bold;
}
.my-deputat__tab button.active {
    font-size: 24px;
}
.content-list__content,
.my-deputat__content {
    display: none;
    width: 100%;
    min-height: 552px;
}
#advertising,
#invitation {
    background-color: #c5c5c5;
    margin-left: 35px;
    width: calc(100% - 35px);
}
.content-list__content:first-child {
    display: block;
}
.news-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 35px;
}
.news-list__item {
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.news-list__image {
    width: 100%;
}
.news-list__link {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px;
}
.news-list__link:nth-child(2) {
    margin-bottom: 20px;
}
.news-list__link:hover {
    color: red;
}
.news-list__title {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 25px;
}
.news-list__item time {
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

/*видео на главной*/
.main-video {
    width: 100%;
    max-width: 1356px;
}
.main-video__title {
    font-weight: bold;
    font-size: 42px;
    margin-left: 35px;
}
.main-video__block {
    position: relative;
    width: calc(100% - 35px);
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;
    margin-left: 35px;
}
.main-video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.main-video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 136px;
    height: 96px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    display: none;
}
.main-video__button-icon {
    width: 100%;
    height: auto;
    fill: #212121;
    fill-opacity: 0.8;
}
.main-video__block:hover .main-video__button-icon,
.main-video__button:focus .main-video__button-icon {
    fill: red;
    fill-opacity: 1;
}
.video--enabled {
    cursor: pointer;
}
.video--enabled .main-video__button {
    display: block;
}

/*Эволюция города*/
.evolution {
    width: 100%;
    max-width: 1356px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.evlution__title {
    font-size: 36px;
    line-height: 48px; 
    margin-left: 35px;
}
.evolution__body {
    width: calc(100% - 35px);
    margin-left: 35px;
    border: 1px soldi red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.evolution__ranges {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.evolution__range-block,
.history__range-block {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.history__range-block {
    width: calc(100% - 35px);
    margin-left: 35px;
    margin-bottom: 50px;
}
.evolution__range-title,
.history__range-title {
    font-size: 16px;
    line-height: 36px;
    color: #247CCD;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #D1DFEC;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    height: 40px;
    width: 30px;
    background: #EFF7FC;
    box-shadow: 0px 0px 4px 1px rgba(59, 120, 175, 0.62), inset 0px 0px 2px 1px #FFFFFF, inset 0px 0px 8px rgba(112, 138, 186, 0.3);
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -18px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D1DFEC;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #D1DFEC;
    border-radius: 3px;

}
input[type=range]::-moz-range-thumb {
    height: 40px;
    width: 30px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height:3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border-radius: 3px;
}
input[type=range]::-ms-thumb {
    height: 40px;
    width: 30px;
    background: #EFF7FC;
    box-shadow: 0px 0px 4px 1px rgba(59, 120, 175, 0.62), inset 0px 0px 2px 1px #FFFFFF, inset 0px 0px 8px rgba(112, 138, 186, 0.3);
    border-radius: 10px;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
.evolution__years-block,
.opacity__years-block,
.history__years-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.evolution__years-block span,
.opacity__years-block span,
.history__years-block span {
    font-size: 18px;
    line-height: 21px;
}
.evolution__range-block.opacity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.opacity__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 49px;
    left: 1140px;
    top: 2455px;
    border: 1px solid #247CCD;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 18px;
    color: #247CCD;
    background-color: transparent;
}
.opacity__block {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.evolution-map {
    width: 100%;
}

/*Из истории города*/
.history {
    width: 100%;
}

/*конец main*/
.history {
    width: 100%;
    max-width: 1356px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.history__title {
    font-size: 36px;
    margin-left: 35px;
}
.history__body {
    width: calc(100% - 80px);
    margin-left: 80px;
}
.history__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.history__item {
    position: relative;
    width: 30%;
}
.history__year {
    position: absolute;
    top: -35px;
    left: -35px;
    font-weight: bold;
    font-size: 72px;
    color: #585C5F;
}
.history__img {
    width: 100%;
    margin-bottom: 5px;
}
.history__name {
    font-weight: bold;
    font-size: 18px;
    color: #247CCD;
}
.history__text {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-align: justify;
}

/*кто мой депутат*/
.my-deputat {
    width: 100%;
    max-width: 1356px;
}
.my-deputat__title {
    font-size: 42px;
    margin-left: 35px;
}
.my-deputat__body {
    width: calc(100% - 35px);
}
.my-deputat__content {
    margin-left: 35px;
}
.my-deputat__form {
    width: 100%;
    margin-bottom: 35px;
}
.my-deputat__form input[type=search] {
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 16px;
    padding-left: 20px;
}
.my-deputat__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 45px;
}
.my-deputat__item {
    width: 18%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 30px;
    transition: all .2s;
    
}
.my-deputat__item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-deputat__item a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-bottom: 10px;
}
.my-deputat__image {
    margin-bottom: 20px;
}
.my-deputat__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.my-deputat__name:hover {
    text-decoration: underline;
    color: red;
}
.my-deputat__post {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}
.my-deputat__post:hover {
    text-decoration: underline;
    color: red;
}
.my-deputat__district {
    font-size: 12px;
    margin-bottom: 10px;
}
.my-deputat__email {
    font-size: 14px;
    color: #247CCD;
    text-decoration: none;
    transition: all .3s;
}
.my-deputat__email:hover {
    text-decoration: underline;
    color: red;
}
#honorary-citizens {
    background-color: #585C5F;
}
#members {
    background-color: #367ebd;
}
.all-deputats {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: #247CCD;
    text-decoration: none;
    margin-bottom: 20px;
}


/*Страница депутата*/
.deputat {
    width: calc(100% - 35px);
    max-width: 1356px;
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.deputat__name {
    font-weight: bold;
    font-size: 42px;
    color: #247CCD;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 20px;
}
.deputat__subtitle {
    font-size: 16px;
    color: #000000; 
    margin-bottom: 20px;
}
.deputat__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.deputat__image {
    width: auto;
    max-width: 100%;
    height: 400px;
}
.deputat__contacts {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px 35px;
}
.deputat__contacts-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
}
.deputat__contacts-list {
    margin-bottom: 40px;
}
.deputat__contacts-district,
.deputat__contacts-twitter,
.deputat__contacts-email,
.deputat__contacts-phone {
    font-weight: bold;
    font-size: 14px;
    color: #247CCD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.deputat__contacts-district::before {
    content: url('../img/pages/deputats/geo_blue.png');
    margin-right: 15px;
}
.deputat__contacts-twitter a,
.deputat__contacts-email a,
.deputat__contacts-phone a {
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    color: #247CCD;
}
.deputat__contacts-twitter::before {
    content: url('../img/pages/deputats/twit_blue.png');
    margin-right: 10px;
}
.deputat__contacts-email::before {
    content: url('../img/pages/deputats/mail_blue.png');
    margin-right: 15px;
}
.deputat__contacts-phone::before {
    content: url('../img/pages/deputats/phone_blue.png');
    margin-right: 15px;
}
.deputat__feed-btn {
    width: 168px;
    height: 38px;
    background: #247CCD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    transition: all .3s;
}
.deputat__feed-btn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.deputat__about {
    width: 50%;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
}
.deputat__about.open {
    height: max-content;
}
.deputat__about-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.deputat__about-text {
    font-size: 14px;
    line-height: 18px;
    margin-left: 35px;
    margin-bottom: 15px;
}
#about__more {
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 55%);
    font-weight: bold;
    font-size: 14px;
    color: #247CCD;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: all .3s;
}
.deputat__about.open #about__more {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, transparent 100%);
}

.izbir-okrug {
    width: calc(100% - 35px);
    max-width: 1356px;
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.izbir-okrug__title {
    color: #0A0A0A;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}
.izbir-okrug__body {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.izbir-okrug__image {
    width: 100%;
}
.izbir-okrug__title-litle {
    margin: 40px 0px;
    margin-left: 35px;
    font-weight: bold;
    font-size: 18px;
}
.izbir-okrug__text {
    width: calc(100% - 45px);
    margin-left: 35px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}
.thanks {
    width: calc(100% - 35px);
    max-width: 1356px;
    margin-left: 35px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.thanks__title {
    font-weight: bold;
    font-size: 24px;
    color: #0A0A0A;
}
.thanks__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.thanks__item {
    width: 19%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.thanks__image {
    width: 96%;
    max-width: 186px;
    height: 240px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.thanks__image img {
    width: 100%;
    height: auto;
}
.thanks__name {
    width: 96%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.about-deputat {
    width: calc(100% - 35px);
    max-width: 1356px;
    margin-left: 35px;
    margin-top: 40px;
}
.about-deputat__title {
    color: #0A0A0A;
    font-weight: bold;
    font-size: 24px; 
}
.about-deputat__list {
    width: 100%;
}
.about-deputat__item {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 25px;
}
.about-deputat__image {
    margin: 40px;
}
.about-deputat__item-body {
    width: 100%;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.about-deputat__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.about-deputat__text {
    font-size: 16px;
    line-height: 24px;
}
.about-deputat__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.about-deputat__date {
    font-size: 12px;
}
.about-deputat__more {
    font-size: 14px;
    color: #247CCD;
    position: absolute;
    right: 50px;
}

/*Страница Депутаты*/
.deputat-page .my-deputat__tab {
    width: 100%;
    margin-left: 35px;
    margin-bottom: 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.deputat-page .my-deputat__link::after {
    content: url('../img/deputat/line.png');
    margin-left: 25px;
    position: relative;
    top: 5px;
}
.deputat-page .my-deputat__list {
    justify-content: space-between;
    flex-wrap: wrap;
}
.deputat-page .my-deputat__item {
    width: 14%;
    margin-bottom: 2%;
}


/*конец тела сайта*/
/*Футер*/
.footer {
    width: 100%;
    background: #232527;
    padding-top: 30px;
}
.footer__body {
    width: calc(100% - 35px);
    margin-left: 35px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer__menu {
    width: 14%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}
.footer__menu-item {
    margin-bottom: 15px;
}
.footer__menu-item:first-child {
    margin-bottom: 25px;
}
.footer__menu-item .title {
    font-weight: bold;
    font-size: 16px;
    color: #F2F2F2;
}
.footer__menu-item.next {
    margin-top: 60px;
}
.footer__menu-link {
    font-size: 14px;
    line-height: 18px;
    color: #D1DFEC;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}
.footer__menu-link:hover {
    color: #247CCD;
    text-decoration: underline;
}
.footer_copyrigt {
    width: 100%;
    font-size: 13px;
    color: #D1DFEC;
    text-align: left;
    margin-bottom: 50px;
}

/*Конец футера*/